{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
Documents
{{ end }}
.codex/config.reference.toml
README.md
{{ if ne .chezmoi.hostname "arzyk-desktop" }}
.local/bin/fah-idle-manager.sh
.local/bin/prism-pack-check
.local/bin/prism-syncthing-control.sh
.local/bin/restart-openrgb.sh
.local/bin/secondary-toggle.sh
.local/bin/swayidlehint.sh
.local/bin/tv-toggle.sh
.local/bin/unlock-hook.sh
{{ end }}
